.Resource__main {
  border: none;
  border-radius: 13px;
}

.Resource__details {
  display: flex;
  flex-direction: column;
  border-style: solid;
  width: 92%;
  max-height: 600px;
  margin: auto;
  margin-bottom: 36px;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 13px;
  border: none;
  color: #ffffff;
  background-color: #523d3d;
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
  overflow-wrap: break-word;
  overflow: scroll;
}

.Resource__details::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1000px) {
  .Resource__details {
    height: 500px;
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 35px;
  }
}

@media (min-width: 1000px) {
  .List_Container {
    display: flex;
    margin: 4px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.Resource__heading {
  margin: 10px;
}

.Resource__header {
  margin: 15px;
  padding: 15px;
}

.Resource__desc {
  padding: 15px;
}

.Resource__item {
  display: block;
  text-align: center;
  margin: 10px;
}

.Resource__item button {
  display: block;
  text-align: center;
  height: 20px;
}

.Add_Comment_Button {
  height: 60px;
  width: 100px;
  margin-right: 4px;
  border-style: none;
  border-radius: 8px;
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
}

.Edit_Details_Button {
  font-size: 23px;
  color: #3d3d3d;
  letter-spacing: -1px;
  font-weight: 300;
  height: 33px;
  width: 50px;
  border-radius: 8px;
  background-color: #e2e2e2;
  margin-left: 4px;
  border: 1px solid black;
}

.Verify_Details_Button {
  font-size: 23px;
  color: #3d3d3d;
  letter-spacing: -1px;
  font-weight: 300;
  height: 33px;
  width: 75px;
  border-radius: 8px;
  background-color: #e2e2e2;
  border: 1px solid black;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Edit_Details_Button:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.1rem #000000);
}
