.Resource__main {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 13px;
}

.Resource__details {
  border-style: solid;
  width: 92%;
  height: auto;
  margin: auto;
  margin-bottom: 36px;
  padding-top: 1px;
  padding-bottom: 10px;
  border-radius: 13px;
  border: none;
  color: #ffffff;
  background-color: #523d3d;
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
  overflow-wrap: break-word;
}

.Resource__heading {
  margin: 10px;
}

.Resource__header {
  margin: 15px;
  padding: 15px;
}

.Resource__desc {
  padding: 15px;
}

.Resource__item {
  display: block;
  text-align: center;
  margin: 10px;
}

.Resource__item button {
  display: block;
  text-align: center;
  height: 20px;
}

.Add_Comment_Button {
  height: 60px;
  width: 100px;
  margin-right: 4px;
  border-style: none;
  border-radius: 8px;
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
}

.Edit_Details_Button {
  font-size: 23px;
  color: #3d3d3d;
  letter-spacing: -1px;
  font-weight: 300;
  height: 70px;
  width: 100px;
  background-color: #dbc9c9;
  margin-left: 4px;
  border-style: none;
  border-radius: 8px;
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
}
