.edit_resource_form_css {
  padding: 20px 0px 35px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 88%;
  margin: auto;
  margin-top: 20px;
  background-color: #523d3d;
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
  border-radius: 14px;
  text-align: center;
  margin-bottom: 45px;
}

@media (min-width: 1200px) {
  .edit_resource_form_css {
    width: 40%;
  }
}

h1 {
  font-size: 28px;
  padding-top: 20px;
  text-align: center;
}

.edit_resource_form_css textarea {
  display: flex;
  height: 45px;
  width: 160px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}
.edit_resource_form_css input {
  display: flex;
  height: 40px;
  width: 90px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

.Edit_Submit_Button {
  text-align: center;
  border-radius: 5px;
  border: 1px solid #3d3d3d;
  font-size: 24px;
  color: #3d3d3d;
  letter-spacing: -1px;
  font-weight: 300;
  height: 50px;
  width: 80px;
  background-color: #efefef;
}

.Edit_Submit_Button:hover {
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
  cursor: pointer;
}

.delete_button:hover {
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
  cursor: pointer;
}

.editButtons {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
