.main-section {
  font-size: 10px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.main-section h1 {
  font-size: 20px;
}

.main-search {
  background-color: #c7b3b3;
  width: 200px;
  height: 90px;
  border: 1px solid #3d3d3d;
  border-radius: 17px;
  font-size: 28px;
  margin-top: 20px;
}
.main-search:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.1rem #000000);
}

.splash-paragraph {
  padding: 20px 0;
  width: 70%;
  text-align: center;
  margin: auto;
}

.logo-main {
  margin-top: 45px;
  border: none;
  text-decoration: none;
}

@media (min-width: 800px) {
  .logo-main {
    margin-top: 85px;
  }

  .splash-paragraph {
    margin-top: 30px;
  }
  .main-search {
    margin-top: 60px;
  }
}
