.main-section {
  font-size: 10px;
  background-color: #ffffff;
  text-align: center;
  /* flex-direction: column; */
  /* padding-top: 45px; */
  /* height: 90px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  position: fixed;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-section h1 {
  font-size: 20px;
  /* margin-top: 45px; */
}

.main-search {
  text-align: center;
  /* filter: drop-shadow(0 0.1rem 0.1rem #000000); */
  background-color: #c7b3b3;
  width: 200px;
  height: 90px;
  border: 1px solid #3d3d3d;
  border-radius: 17px;
  font-size: 28px;
  margin: 100px;
}
.main-search:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.1rem #000000);
}

.logo-main {
  border: none;
  text-decoration: none;
  position: relative;
  right: -12px;
}
