.missionBody {
  margin-bottom: 75px;
}

.middle-section {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #523d3d;
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
  border-radius: 18px;
  color: #fdfdfd;
  width: 88%;
  margin: auto;
}

.main-paragraph {
  font-size: 20px;
  font-weight: 500;
  margin: auto;
  width: 80%;
  padding-top: 45px;
  padding-bottom: 45px;
}

.bottom-section {
  color: #000000;
  width: 88%;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 1200px) {
  .main-paragraph {
    width: 50%;
  }
  .middle-section {
    width: 60%;
  }
}
