.middle-section {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #3d3d3d;
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
  border-radius: 18px;
  color: #fdfdfd;
}

.main-paragraph {
  font-size: 20px;
  font-weight: 500;
  margin: auto;
  width: 80%;
  padding: 25px;
}

.bottom-section {
  color: #000000;
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
